@import "whitespace-reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

html {
  font: normal 18px "Nunito Sans", sans-serif;
}

body {
  background: url(bg_body.gif) repeat;
}

header {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: center;
}

header img {
  margin: 160px 0 90px;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1000px;
  background-color: white;
  padding: 110px 90px 70px;
}

h2, h3 {
  text-align: center;
}

h2 {
  font-size: 36px;
  margin: 0 0 40px;
}

main p {
  font-size: 20px;
  text-align: center;
}

.founder_text {
  margin: 175px 0 40px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3e98b2;
  margin-bottom: 36px;
}

footer {
  box-sizing: border-box;
  margin: 0 auto 145px;
  width: 1000px;
  background-color: #e7e7e7;
  height: 115px;
  padding: 33px;
}

footer ul {
  margin: 0 auto;
  text-align: center;
}

footer li {
  display: inline;
  padding: 0 58px;
}

footer a {
  margin: 30px 0 0;
}

img {
  vertical-align: middle;
}