@import "whitespace-reset.css";

body {
  background-color: #ffd505;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 40px;
}

header {
  box-sizing: border-box;
  margin: 0 auto 28px;
  color: #f7fffb;
  background-color: #047ec1;
  width: 900px;
  height: 105px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 900px;
  background-color: #ececec;
  padding: 30px 25px 40px;
}

h1 {
  font-size: 28px;
  padding: 36px 0 36px 24px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 30px;
}

h3 {
  color: #2a231d;
  padding: 0 0 8px;
}

p {
  color: #1d241c;
}

li {
  display: inline-block;
  background-color: #ffffff;
  width: 200px;
  padding: 15px 20px 15px 20px;
}

a {
  text-decoration: none;
}

ul {
  box-sizing: border-box;
}

img {
  padding: 0 0 24px;
  display: block;
  margin: 0 auto;
  height: 140px;
  width: auto;
}