* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

main {
  background-color: grey;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 500px;
  padding: 25px 20px 25px;
}

.top {
  box-sizing: border-box;
  border: solid 5px white;
}

figure {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.bottom {
  box-sizing: border-box;
  border: solid 3px white;
  margin: 5px;
}

div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
}