body {
  box-sizing: border-box;
  font: normal 16px Helvetica, Arial, sans-serif;;
  
}

#container {
  border: solid 2px grey;
  width: 1000px;
  margin: 10px auto;
}

section {
  margin: 20px;
}

section:first-child {
  border-bottom: dashed grey;
}

h1, h2, h3, h4 {
  color: #ce4a4a;
}

p {
  font-size: 1rem;
}

.dashed_box {
  padding: 30px;
  margin: 50px auto;
  border: dashed 2px gray;
  width: 600px;
}