@import "whitespace-reset.css";

html {
  font-family: "Open Sans", Arial, sans-serif;
  z-index: 2;
}

body {
  font-size: 13px;
  color: #444;
  box-sizing: border-box;
}

header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 55px;
  border-top: 10px solid #F5F5F5;
  border-bottom: 1px solid #EEE;
  background-color: white;
  z-index: 1;
}

header ul {
  margin: 15px auto;
  max-width: 960px;
  text-align: center;
}

header li {
  padding: 0 25px;
  display: inline;
}

header a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  padding-top: 55px;
  display: grid;
  grid-template-rows: 428px 300px 1775px 2160px 935px 640px 510px;
  grid-template-areas: 
    "head"
    "tickets"
    "speakers"
    "schedule"
    "location"
    "papers"
    "sponsors";
    z-index: -1;
}

.head {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 428px;
  width: 100%;
  justify-self: center;
  align-self: center;
  background: url(images/front_image.jpg);
  max-width: 1570px;
}

.head h1, .head h2 {
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-weight: normal;
}

.head img {
  margin: 150px 0 25px;
  align-self: center;
  width: 80px;
  height: 80px;
}

.head h1 {
  font-size: 72px;
}

.head h2 {
  font-size: 31px;
  text-transform: uppercase;
}

